<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="cross-button" data-dismiss="modal" ng-click="closeModal()"> </button>
	  </div>
	  <div class="modal-body video-wrapp" ng-if="showVideo">
	  	<div class="video-container">
        	<div class="video-top"></div>
			<div class="leftbar col-xs-3">
				<div class="instructions instructions-leftbar">
				What is Lorem Ipsum?

				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				
				What is Lorem Ipsum?

				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				
				What is Lorem Ipsum?

				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</div>

			</div>
			<div class="col-xs-9 video">
				<video id="play-video">
					<source src="./help_video/sorting_defined.mp4" type="video/mp4">
					<source src="mov_bbb.ogg" type="video/ogg">
				</video>
			</div>
			<div class="clearfix"></div>
		</div>
	  </div>
	  <div class="modal-body reward-wrapp" ng-if="!showVideo">
		<div class="body-content">
			<!--<button type="button" class="cross-button" data-dismiss="modal"></button>-->
			<img src="./images/img/reward_4.png" width="100%">
			<button class="play-again"></button>
		</div>
	</div>
  </div> 